label{
    padding-right: 30px;
    
}


input{
    margin: 5px;
    
}

.form{
    text-align: center;
}

h1{
    text-align: center;
    margin: 30px;
    color: #22577a;
}

button{
    margin-top: 10px;
}
